<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711022486571-6ilhcc0mqg7hctcbgdr7vbf4n4po2d3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711022486571-6ilhcc0mqg7hctcbgdr7vbf4n4po2d3e</string>
	<key>API_KEY</key>
	<string>AIzaSyCqkWBzPdW4VSDG950KphsrhrfPc6ws8oE</string>
	<key>GCM_SENDER_ID</key>
	<string>711022486571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.praiseteam</string>
	<key>PROJECT_ID</key>
	<string>praise-team-b03a5</string>
	<key>STORAGE_BUCKET</key>
	<string>praise-team-b03a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711022486571:ios:70d208a7c1df4d983d366e</string>
</dict>
</plist>